$white          : #fff;
$black          : #1E1E1E;
$gray           : #888888;
$graylight      : #8391A1; 
$textColor      : #434343;

$primaryColor   : #e31855;

$darker         : #07b745;
$lighter        : #53E88B;
$subtle         : #8BD9A7;


$error          : #FF3B3B;
$warning        : #FFCC00;
$info           : #0063F7;
$success        : #1DB954;

$lightGray      : #F9F9F9;
$lightGray2     : #F7F8F9;
$lightGray3     : #E5E6E6;

$blue: blue;

$primaryFont    : 'Inter', sans-serif; 
$secondaryFont  : 'Milliard Medium';

$h1             : 50px;
$h2             : 24px;
$h3             : 20px;
$subH           : 14px;
$LeadPara       : 16px;
$BodyLarge      : 14px;
$BodyMedium     : 12px;
$BodySmall      : 10px;

$primaryGradient: linear-gradient(103.8deg, #DC143C 1.22%, #FF2ED1 99.95%);
