
/* @font-face {
  font-family: 'Whyte'; 
  src: local('Whyte'), url('../fonts/font/Whyte-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
} */
@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-Bold.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-Black.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-BlackItalic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-BoldItalic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Book';
    src: url('../fonts/whyte/Whyte-Book.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Book';
    src: url('../fonts/whyte/Whyte-BookItalic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-ExtraLight.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-Heavy.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-HeavyItalic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-Italic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-Light.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-LightItalic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-Medium.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Super';
    src: url('../fonts/whyte/Whyte-Super.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte Super';
    src: url('../fonts/whyte/Whyte-SuperItalic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-Regular.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-Thin.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whyte';
    src: url('../fonts/whyte/Whyte-ThinItalic.woff2') format('woff2'),
        url('../fonts/whyte/Whyte-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

