@import "fonts.css";
@import "brands.min.css";
@import "all.min.css";
@import "variable";
@import "bootstrap.min.css";
@import "sidenav.min.css";
@import "header";
@import "homepage";
@import "footer";


body {
    font-family: $primaryFont;
}